go 1.26.2

use (
	./apps/api-server
	./apps/infra-migration
	./apps/llm-worker
	./apps/outbox-relay
	./apps/stt-worker
	./packages/config
	./packages/db
	./packages/llm
	./packages/mq
	./packages/redis
	./packages/storage
	./packages/stt
	./packages/telemetry
)
